* {
    box-sizing: border-box;
}

body {
    margin: 0;
   
}

.box {
    width: 50vw;
    height: 200px;
    background: red;
}

.box-2 {
    width: 50%;
    height: 200px;
    background: lime;
}


